@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

#carrusel {
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-self: flex-start;
  align-items: center;
  background-color: black;
}

#carrusel-slider {
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#carrusel-alt{
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  width: 100%;
}

#carrusel-img {
  padding: 2%;
  width: 80%;
}

#carrusel button {
  height: 10%;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: white;
}