div {
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-self: flex-start;
  align-items: center
}

img {
  height: 40vmin;
  pointer-events: none;
}

p {
  font: 150% sans serif;
}
