@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

@keyframes title-zoom {
  from {
    font-size: 50%;
  }

  to {

  }
}

@keyframes button-shake {
  from {
    transform: rotate(2deg);
  }

  to {
    transform: rotate(-2deg);
  }
}


#header {
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-self: flex-start;
  align-items: center;
}

#header-pack-logo {
  width: 33%;
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-self: flex-start;
  align-items: center;
}

#header-menu {
  width: 50%;
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

#header-logo {
  height: 15vmin;
  pointer-events: none
}

p {
  font-family: 'Roboto Condensed', sans-serif;
}

#header-title {
  font-family: 'Roboto Condensed', sans-serif;
  animation-duration: 5s;
  animation-name: title-zoom;
  font-size: 200%;
}

#header-menu img {
  height: 5vmin;
}

#header-menu a {
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: whitesmoke;
}

#header-menu button {
  height: 10%;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: white;
  animation-duration: 3s;
  animation-iteration-count: 5;
  animation-name: button-shake;
}

#header-menu button:hover  {
  background-color: whitesmoke;
}
