@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

#reviews {
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-self: flex-start;
  align-items: center;
  background-color: white;
  width: 100%;
}

#reviews-content {
  padding: 2%;
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-self: flex-start;
  align-items: center;
  background-color: white;
  width: 40%;
}

#reviews-content-text{
  padding: 3%;
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-self: flex-start;
  align-items: center;
  background-color: white;
  width: 50%;
}

#reviews p{
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
  width: 100%;
}

#reviews-img{
  width: 20vmin;
}

#reviews svg {
  padding: 1%;
  transform: scale(1.5);
  font-family: 'Roboto Condensed', sans-serif;
}

